* {
  box-sizing: border-box;
}

body,
html {
  width: 100%;
  margin: 0px;
  font-family: 'Lato', sans-serif;
  background-color: #EFEFEF;
}

header {
  background-color: #2B2B2B;
  color: #8A8A8A;
  min-height: 150px;
  padding: 10px;
}

.nav-logo {
  width: 100%;
  height: 50px;
  margin-top: 70px;

}

ul {
  display: inline-block;
  padding: 0;
  display: none;
}

li {
  display: inline-block;
  margin-left: 10px;
  margin-right: 25px;
  align-self: baseline;
  vertical-align: middle;
}

li:hover {
  color: #FFFFFF;
}

.hamburger-menu {
  width: 30px;
  height: 30px;
  background-image: url(images/menu-4-64.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  position: relative;
  top: 20px;
  left: 10px;
  color: #8A8A8A;
}

.nav-icon {
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 12px;
  height: 12px;
  background-color: inherit;
  margin-right: 5px;
  vertical-align: baseline;
}

.share-icon {
  background-image: url("images/sharethis-32.png");
}

.share-icon:hover {
  background-image: url("images/share-icon.png");
}

.playlist-icon {
  background-image: url("images/list-2-32.png");
}

.playlist-icon:hover {
  background-image: url("images/list-hover.png");
}

.personal-icon {
  background-image: url("images/user.png");
}

.personal-icon:hover {
  background-image: url("images/user-32-hover.png");
}

.logo {
  background-image: url(images/logo.png);
  background-repeat: no-repeat;
  background-size: cover;
  width: 200px;
  height: 50px;
  margin: 0px auto;
  float: right;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

h2 {
  margin-left: 24px;
}

h3 {
  margin: 8px 0 0 8px;
  font-size: 16px;
}

h5 {
  margin: 8px 0 0 8px;
}

p {
  margin: 2px 0 0 8px;
}

.admin-username {
  float: right;
}

main {
  width: 92%;
  margin: 0 auto;
  background-color: #EFEFEF;
}

.card {
  display: block;
  height: 360px;
  min-width: 290px;
  max-width: 290px;
  margin: 0 10px 10px 0;
  background-color: #FFFFFF;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card-web-address {
  width: 94%;
  background-color: #EFEFEF;
  margin: 8px 0 0 8px;
}

.card-web-address p {
  font-size: 15px;
  margin: 0px;
  min-height: 25px;
  word-wrap: break-word;
}

.card-image {
  background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/office_space2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 130px;
  color: #FFFFFF;
  padding: 10px;
}

.arrow {
  background-image: url("images/arrow.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: inline-block;
  width: 50px;
  height: 50px;
  background-color: inherit;
}

.card-views {
  float: right;
}

.card-views-text {
  margin: 0;
}

.card-views-number {
  font-size: 34px;
  margin: 0px;
}

.card-number {
  color: #2DB9FE;
  font-size: 30px;
  margin-top: 0px;
}

@media screen and (min-width: 620px) {
  main {
    width: 96%;
  }


  .card {
    display: inline-block;
  }

  .hamburger-menu {
    display: none;
  }

  ul {
    display: inline-block;
  }

  .logo {
    /*float: right;*/
    /*position: relative;*/
  }
}

@media screen and (min-width: 930px) {

}
